/*Colors --------------
Header - purple: #30324B
Text color - darkgrey: #1E2020
Text color 2 - lightgrey: #DDE6E8
Background - lightblue: #DDE6E8
Background 2 - lightgrey: #EBEDEF
Buttons - yellow: #F6B533
Sections - blue: #2C4455
Footer - darkgrey: #474747 
Logo: 
Darkblue - #072437
Yellow - #F3A533
Bright blue - #317A9E

PC-logo: https://event.bcc.no/wp-content/uploads/2018/12/buk-pc19-logo.png
---------------------*/

/* Main */
body {
  margin: 0;
  background-color: #dde6e8;
  font-family: "Helvetica";
  color: #1e2020;
}

.site-wrapper-inner {
  margin: 0 auto;
}

/*Header*/
header {
  background-color: #072437;
}
#logo {
  height: 30px;
  padding: 5px;
  margin-left: 10px;
}

/*Masthead*/

.masthead {
  text-align: center;
}

.masthead-logo {
  height: 120px;
  width: auto;
  margin-top: 20px;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  margin-top: 5px;
}

/*Sections*/

.section {
  background-color: #2c4455;
  width: 98%;
  height: 95px;
}

.section-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1%;
}

.volley-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100px;
}

.section-icon-info a {
  display: flex;
  padding: 5px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 25px;
  color: #f6b533;
}

.age-group-container {
  display: flex;
}

.age-group {
  display: flex;
  padding: 0.5px;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  color: #f6b533;
  margin: 1%;
}

.age-group a {
  color: #f6b533;
  text-decoration: none;
  padding: 35px 5px;
}

/*Mastfoot*/
.mastfoot {
  background-color: #474747;
  text-align: center;
  height: 70px;
  margin-top: 20px;
}

.mastfoot .inner {
  color: #dde6e8;
  padding: 10px;
}

.mastfoot .inner a {
  color: #f6b533;
  text-decoration: none;
}

.mastfoot .inner a {
  color: #f6b533;
  text-decoration: none;
}

.mastfoot .inner a:hover {
  color: #f6b533;
  text-decoration: underline;
}

/*Responsive Styles*/

@media screen and (max-width: 350px) {
  .age-group a {
    color: #f6b533;
    text-decoration: none;
    padding: 35px 5px;
  }
}

@media screen and (min-width: 351px) and (max-width: 400px) {
  .age-group a {
    color: #f6b533;
    text-decoration: none;
    padding: 35px 10px;
  }
}

@media screen and (min-width: 401px) and (max-width: 600px) {
  .age-group a {
    color: #f6b533;
    text-decoration: none;
    padding: 35px 20px;
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .age-group a {
    color: #f6b533;
    text-decoration: none;
    padding: 35px 45px;
  }
}

@media screen and (min-width: 1024px) {
  .cover-container {
    margin: 20px 6rem;
  }

  h1 {
    margin: 2rem 0;
    font-size: 25px;
  }

  .masthead-logo {
    height: 150px;
    width: auto;
    margin-top: 40px;
  }

  .section-container {
    margin-bottom: 3rem;
  }

  .mastfoot {
    padding: 2rem 0;
  }
}
